<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
    <div class="panel-heading">{{ element.name }}</div>
    <div class="panel-body">
      <ng-content>
        <!-- Content is between tags of app.component.html
             <app-server-element></app-server-element>
        -->
      </ng-content>
      <!-- <p>
          <strong *ngIf="element.type === 'server'" style="color : red">
            {{ element.content }}
          </strong>
          <strong *ngIf="element.type === 'blueprint'">
            {{ element.content }}
          </strong>
        </p>
        {{ element.name }} -->
    </div>
  </div>
</div>
