<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit (ingredientAdded)="onIngredientAdded($event)"></app-shopping-edit>
    <hr>
    <ul class='list-group'>
      <a href='#'
      class='list-group-item'
      style='cursor: pointer'
      *ngFor='let ingredientItem of ingredients'>
      <p appBasicHiglight> {{ingredientItem.name}} ({{ingredientItem.amount}})</p>
      <p appBetterHighlight [defaultColor]="'transparent'" [highlightColor]="'red'" [clickedColor]="'green'" [data]="ingredientItem"> {{ingredientItem.name}} ({{ingredientItem.amount}})</p>
      </a>
    </ul>
  </div>
</div>
