<div class='row'>
  <div class='col-lg-12'>
    <form>
      <div clas='row'>
        <div class='col-lg-5 form-group'>
          <label for='ingredientName' id='name'>Name</label>
          <input
          type='text'
          id='ingredientName'
          class='form-control'
          name="ingredientName"
          [(ngModel)] = "ingredientName"
          >
        </div>
        <div class='col-lg-2 form-group'>
          <label for='amount' id='amount'>Amount</label>
          <input
          type='ingredientAmount'
          id='ingredientAmount'
          class='form-control'
          name="ingredientAmount"
          [(ngModel)] = "ingredientAmount"
          >
        </div>
      </div>
      <div clas='row'>
        <div class='col-lg-12'>
          <button class='btn btn-success' type='submit' (click)="onAddItem()">Add</button>
          <button class='btn btn-danger' type='button'>Delete</button>
          <button class='btn btn-primary' type='button'>Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
