<!-- <app-header></app-header> -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>I'm in the AppComponent!</h3>
      <hr>
    </div>
    <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
    <hr>
    <div class="row">
      <div class="col-lg-12">
       <app-server-element  *ngFor="let serverElement of serverElements" [srvElement]="serverElement"></app-server-element>
      </div>
    </div>
  </div>


  <!-- <app-servers></app-servers> -->



  <!-- <app-component-lifecycle></app-component-lifecycle> -->
  <!-- <div class="row">
    <div class="col-md-12">
      <app-parent></app-parent>
    </div>
  </div> -->
  <!--
  <div class="row">
    <div class="col-md-12">
      <app-viewChild-parent></app-viewChild-parent>
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
      <router-outlet></router-outlet>
    </div>
  </div> -->
</div>
