<!-- My playground -->
<!-- <p-megaMenu [model]="items"></p-megaMenu> -->


<!-- UDEMY projects -->

<nav class="navbar navbar-default navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Receipe Book</a>
    </div>
    <div class="navbar-default">

      <ul class="nav navbar-nav">
        <li>
          <a href="#" (click)="onSelect('recipes', $event)">Recipes</a>
          <!-- <a routerLink = "/recipes" routerLinkActive="active">Recipes</a> -->
        </li>
        <li>
          <a routerLink = "/recipesDetail" routerLinkActive="active">Recipes Details</a>
          <!-- <a href="#" (click)="onSelect('recipesDetail', $event)">Recipes Details</a> -->
        </li>
        <li>
          <a href="#" (click)="onSelect('shoppingList', $event)">Shopping List</a>
          <!-- <a routerLink = "/shoppingList" routerLinkActive="active">Shopping List</a> -->
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown2>
          <a href="#" class="dropdown-toggle" role="button">Manage
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="#">Save Data</a>
            </li>
            <li>
              <a routerLink="#">Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

